body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Poppins";
    src: url(../../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../../assets/fonts/Poppins-SemiBold.ttf);
}

.logoja{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.logoja img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.img-recepsioni{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    height: 50%;
    margin: 0;
    background-image: url(../../assets/images/Recepsioni.jpg);
    background-size: cover;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 75px;
    left: 180px;
    margin-bottom: 200px;
}

.text h1{
    color: black;
    font-size: 45px;
    font-family: "Poppins";
    font-weight: bold;
    position: relative;
    top: 0%;
    left: 120%;
}

.text p{
    color: rgb(116, 111, 111);
    font-family: "Poppins";
    position: relative;
    left: 120%;
    white-space: pre-line;
    padding-right: 0px;
    line-height: 25px;
}



.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-top: 1px solid #a3a3a3 ;
    border-bottom: 1px solid #a3a3a3;
    font-family: "Poppins";

}

.navbar img{
    margin: 0 10px;
}

.navbar ul{
    display: flex;
    width: 80%;
    margin: 30px 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.navbar ul li{
    margin: 0 10px;
}

.navbar a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: all ease-in 0.2s;
}

.navbar a:hover{
    font-family: Poppins;
    color: #8f859e;
}


.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
    height: 300px;
    width: 100%;
    background-image: url(https://livedemo00.template-help.com/wt_51453/images/breadcrumbs-01.jpg);
    color: white;
    font-family: "Poppins";
}

.header h1{
    font-family: Poppins;
    font-size: 60px;
    margin: 0;
}

.header a{
    font-family: "Poppins";
    color: #dfdfdf;
    text-decoration: none;
    transition: all ease-in 0.2s;
}

.header a:hover{
    color: white;
}

.header p{
    font-size: 20px;
    margin-top: 20px;
}


.rooms-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}


/* Calendar styles */
.calendar-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-family: Poppins;
}

.calendar-table th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #f2f2f2;
}

.calendar-table .day-cell {
    border: 1px solid #ddd;
    padding: 8px;
    transition: background-color 0.3s;
}

.calendar-table .day-cell:hover {

    background-color: #cceeff;
    /*Highlighted color on hover*/
}

.calendar-table .empty-cell {
    padding: 8px;
    background-color: transparent;
}

footer{
    margin: 20px auto;
    padding: 15px;
    background-color: rgb(243, 243, 243);
    align-self: center;
    width: 80vw;
    font-family: "Poppins";
}
.footer-main{
    display: flex;
    flex-direction: grid;
    justify-content: space-between;

}
.footer-main div{
    margin: 20px;
}
.footer-copyright{
    float: right;
    color:rgb(155, 155, 155) ;
    font-size: small;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: rgb(143, 133, 158);
}
.footer-weekendweekdays{
    color: rgb(143, 133, 158);

}
.footer-newsletter-textfield{
    display: block;
    width: 90%;
    padding: 1vw;
    margin: 0.5vw;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.footer-newsletter-subscribebtn{
    padding: 10px;
    width: 100px;
    border: none;
    color:white;
    background-color:rgb(143, 133, 158) ;
    transition: transform 0.05s ease, background-color 0.5s ease;
    margin: 5px;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

}
.footer-location-icon,.footer-call-icon{
    height: 15px;
    margin-right: 10px;
}
.footer-socials-icon{

    margin: 5px;
    height:35px;
    width: 35px;
}
.footer-socials{
    text-align: center;
    margin-left: 15px;
}
.footer-socials-icon:hover{
    transform: scale(1.05);
}
.footer-main-opening{

    justify-content: left;
}

.footer-newsletter-subscribebtn:hover{
    transform: scale(1.02);
    background-color: rgb(152, 143, 165) ;
}

button#backToTopBtn {
    opacity: 0;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    padding: 10px;
    background-color:#8f859e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

button#backToTopBtn.show {
    opacity: 1;
}

